<template>
  <div id="app" class="app">
    <title>Mission Coral</title>

    <!--Comando para que el contenido de la página no se afecte sin importar donde se vea-->
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <div class="header">
      <div class="headcontainer title-cointainer-nav">
        <div class="title">
          <h1>MISSION<br />&nbsp;CORAL</h1>

          <!--Botón con menú (Html)-->
          <div class="container">
            <input type="checkbox" id="toggle" />
            <label for="toggle" class="button"></label>

            <nav class="nav">
              <router-link to="/home" id="A puerto">*A puerto</router-link>

              <a href="#">*Faro de Lutea</a>
              <router-link to="/Arrecife" id="Arrecife">*Arrecife</router-link>
              <a href="#">*Sumérgete</a>
              <router-link to="/Signup" id="Signup">*Haz parte del arrecife</router-link>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <router-view
        v-on:UserLoginSuccesful="methodUserLogin"
        v-on:completedSignUp="methodSignup"
      />
    </div>

    <br />

    <footer>
      <h3>Mission Coral</h3>

      <!--Botón logout (Html)-->
       <div class="buttonlogout">
        <input type="checkbox" id="toggleLog" />
        <label for="toggleLog" class="buttonLoginOut"></label>

        <nav class="navLog">
          <router-link to="/Login" id="Abrir sesión">*Login</router-link>
          <router-link to="/Home" id="Cerrar sesión">*Logout</router-link>
          

        </nav>
      </div> 
    </footer>
  </div>
</template>

<script>
export default {
  name: "App",
  methods: {
    methodUserLogin: function (data) {
      localStorage.setItem("isAuth", true);
      localStorage.setItem("username", data.username);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      alert("Autenticación exitosa");
    },
    methodSignup: function (data) {
      alert("Registro exitoso");
      this.methodUserLogin(data);
    },
  },
};
</script>

<style>
@font-face {
  font-family: NADALL;
  src: url(../fuentes/NADALL.TTF) format(truetype);
  src: url(../fuentes/BioRhyme-Bold.ttf) format(truetype);
}

@font-face {
  font-family: BioRhyme-Bold;
  src: url(../fuentes/BioRhyme-Bold.ttf) format("truetype");
}

/* Estilo para header*/
.header {
  background: transparent;
  padding: 0rem 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.title {
  font-family: NADALL;
}
.title-cointainer-nav {
  display: flex;
  justify-content: space-between;
  justify-items: auto;
}

.container {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}

h1 {
  max-width: 65px;
  margin: 12;
  margin-left: 10pt;
  font-size: 36pt;
  line-height: 1em;
  font-weight: 300;
  font-family: NADALL;
  color: rgb(28, 11, 127);
}

/*Botón con menú*/

.container,
.button,
.nav {
  position: absolute;
}

.container {
  margin: auto;
  top: 10%;
  left: 90%;
  margin-left: -20px;
}

#toggle {
  display: none;
}

.button {
  z-index: 999;
  width: 62px;
  height: 62px;
  background: black;
  background-image: url(../images/button.jpg);
  background-repeat: no-repeat;
  background-size: 156%;
  background-position: center;
  border-radius: 100%;
  transition: all 0.5s ease-in-out;
  text-align: center;
  cursor: pointer;
}

.nav {
  transform: translateY(-10%);
  opacity: 0;
  top: 25px;
  left: -50px;
  transition: all 0.5s ease-in-out;
  width: 150px;
  border-radius: 5px;
  transform: translateY(0%);
}

.nav a {
  text-align: center;
  display: block;
  margin: 20px 0;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-decoration: none;
  font-family: BioRhyme-Bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 300ms;
}

.nav router-link {
  text-align: center;
  display: block;
  margin: 20px 0;
  color: #1d0df3;
  text-decoration: none;
  font-family: BioRhyme-Bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 300ms;
}

.nav a:hover {
  color: #5f5f5f;
}

#toggle:checked ~ .nav {
  opacity: 1;
  transform: translateY(10%);
}

#toggle:checked ~ .button {
  transform: rotate(135deg);
  box-shadow: 0 0 0 0 transparent;
}

/*Estilo footer*/
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  left: 0;
  background-color: black;
  justify-content: space-between;
  justify-items: auto;
}

footer h3 {
  margin-top: 20pt;
  margin-left: 10pt;
  font-family: NADALL;
  color: white;
  text-align: center;
  line-height: 0em;
}

/*Botón login y signup*/

.buttonlogout,
.buttonLoginOut,
.navLog{
  position: absolute;
}

.buttonlogout{
  margin:auto;
  top:1pt;
  left:80%;
}

.navLog {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.navLog a {
  text-align: center;
  display: block;
  margin: 5pt 0 0 30pt;
  color: white;
  text-decoration: none;
  font-family: BioRhyme-Bold;
  font-size: 9pt;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 300ms;
}

#toggleLog{
  display: none;
}

#toggleLog:checked ~ .navLog {
  opacity: 1;
  transform: translateY(10%);
}
#toggleLog:checked ~ .buttonLoginOut {
  transform: rotate(270deg);
  box-shadow: 0 0 0 0 transparent;
}

.buttonLoginOut{
  z-index: 999;
  width: 40px;
  height: 40px;
  background: crimson;
  background-image: url(../images/Icons/bubblefish.png);
  background-repeat: no-repeat;
  background-size: 156%;
  background-position: center;
  border-radius: 100%;
  cursor: pointer;
  margin-top: 5pt;
  margin-right: 70pt;
  transition: all 1s ease-in-out;
}

</style>
