<!--Home-->

<template>
  <div class="body">
    <div class="icons-text">
    <img class="whiteCoral" src="../../images/Icons/whitecoral.png" alt=""/>
    <div class="subtitle">A Puerto</div>
    <img class="seaHorse" src="../../images/Icons/seaHorse1.png" alt=""/>
    </div>

    <SearchBar id="SearchBarHome"/>

  <div class="credits">Coral Reef, Solomon Islands.<br/>
    Credit: Tracey Jennings / Ocean Image Bank<br/>
    Icon Coral, author:Icongeek26 /www.flaticon.com </div>

   
  </div>
</template>

<script>
import SearchBar from "../components/SearchBar.vue";

export default {
  name: "Home",
  components: {
    SearchBar,
  }
}
</script>

<style>


.body {
  margin:-8px;
  padding:0;
  background-image: url(../../images/Ocean.jpg);
  background-size: cover;
  background-position: absolute;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 
}

@font-face {
  font-family: NADALL;
  src: url(../../fuentes/NADALL.TTF) format("truetype");
}
@font-face {
  font-family: Blue-Fonte;
  src: url(../../fuentes/Blue-Fonte.ttf) format("truetype");
}


.icons-text{
  position:relative ;
}

.whiteCoral {
  position: absolute;
  top: 20pt;
  left: 10pt;
  width: 100pt;
  height: 60pt;
 
}
.subtitle {
  font-family: Blue-Fonte;
  color: white;
  text-align: center;
  font-size: 46pt;
  width: 400px;
 
}

.seaHorse{
  position:absolute;
  top: 0pt;
  left: 255px;
  width: 100pt;
  height: 60pt;

}

#SearchBarHome {
  margin-top: 95pt;
}

.credits {
  position: absolute;
  left:10pt;
  bottom: 50pt;
  color:white;
  font-size: 8pt;
}
</style>