<template>
  <div class="content">
    <div class="title-icons">
      <img class="caracola" src="../../images/Icons/largeShell.png" alt="" />
      <img class="greycoral" src="../../images/Icons/greycoral.png" alt="" />
      <img
        class="lightgreycoral"
        src="../../images/Icons/lightgreycoral.png"
        alt=""
      />
    </div>

    <body>
      <div class="subtitle">Arrecife</div>

      <div id="searchBar">
        <SearchBar id="searchBarArrecife" />
      </div>

      <div class="galleryContainer">
        <div class="gallery">
          <div
            class="galleryItem"
            v-for="coral of this.listCorals"
            :key="coral"
          >
            <img
              class="galleryImage"
              :src="
                'http://localhost:8000/Arrecife' +
                coral.live_coral.replace('coralImages', 'images')
              "
            />

            <div class="galleryItemInfo">
              <ul>
                <li class="galleryItemName">
                  <i class="coralName" aria-hidden="true"> </i>
                  {{coral.common_name  == null? 
                    "Nombre científico: " + coral.sci_name : 
                    "Nombre común: " + coral.common_name}},&nbsp; 
                </li>

                <li class="galleryPhotoCredits">
                  <i class="photoCredit" aria-hidden="true"> </i>
                  {{ "Foto: " + coral.cred_live_coral }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </body>
  </div>
</template>


<script>
import SearchBar from "../components/SearchBar.vue";
import axios from "axios";

export default {
  name: "Gallery",

  components: {
    SearchBar,
  },

  data: function () {
    return {
      listCorals: [],

      gotListCorals: false,

      dictLiveImages: {},
    };
  },

  created: async function () {
    this.getAllCorals();
  },

  methods: {
    getAllCorals: function () {
      axios
        .get("http://localhost:8000/Arrecife/")
        .then((answer) => {
          this.listCorals = answer.data;
          this.gotListCorals = true;

          //this.getLiveImages();
        })
        .catch((error) => {
          this.gotListCorals = false;
        });

      return;
    },

    getLiveImages: async function () {
      for (const coral of this.listCorals) {
        let ruta = coral.live_coral;
        ruta = ruta.replace("coralImages", "images");
        let id = coral.corals_id;

        await axios
          .get("http://localhost:8000/Arrecife" + ruta)
          .then((answer) => {
            this.dictLiveImages[id] = answer.data;
          })
          .catch((error) => {
            this.dictLiveImages[id] = "";
          });
      }

      alert("Termino getLiveImages");
    },
  },
};
</script>


<style scoped>
@font-face {
  font-family: Blue-Fonte;
  src: url(../../fuentes/Blue-Fonte.ttf) format("truetype");
}

.content {
  display: flex;
  margin: 0pt;
  margin-top: -70pt;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title-icons {
  position: relative;
  top: -80pt;
  left: -15vw;
}

.caracola {
  position: absolute;
  top: -25pt;
  left: 30pt;
  width: 100pt;
  height: 60pt;
}

.lightgreycoral {
  position: absolute;
  top: 20pt;
  left: 10pt;
  width: 100pt;
  height: 60pt;
}

.greycoral {
  position: absolute;
  top: 20pt;
  left: 190pt;
  width: 100pt;
  height: 50pt;
}

.subtitle {
  position: relative;
  left: 0;

  font-family: Blue-Fonte;
  color: rgb(28, 11, 127);
  font-size: 46pt;

  width: 140pt; /* El tamaño de Arrecife */
  left: calc(50vw - 70pt);
}

#searchBar {
  position: absolute;
  height: 100pt;
  background: cyan;
  left: calc(50vw - 150px);
}

#searchBarArrecife {
  position: absolute;
  margin-left: 150;
}

body {
  position: absolute;
  top: 75pt;
  left: 0;
}

img {
  display: block;
}

.galleryContainer {
  position: relative;
  max-width: 93.5rem;
  top: 80pt;
  margin: 0 auto;
  padding: 0 2rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.galleryItem {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
}

.galleryImage {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
/*
The following code will only run if your browser supports CSS grid.
*/
@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2rem;
  }

  .gallery-item,
  .gallery {
    width: auto;
    margin: 0;
  }
}

.galleryItemInfo {
  display: none;
  
}

.galleryItemInfo li {
  display: inline-block;
  font-size: 12pt;
  font-weight: 400;
  font-family: BioRhyme-Bold;
}

.galleryItem:hover .galleryItemInfo,
.galleryItem:focus .galleryItemInfo {
  display: flex;
  justify-content: start;
  align-items: end;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
</style>