<template>
  
  <div class="logIn_user">
  <img class="leafcoral" src="../../images/Icons/leafcoral.png" alt="" /> 
    
    <div class="container_logIn_user">
      <div class="profile-icon"></div>

      <form v-on:submit.prevent="processLogInUser">
        <input type="text" v-model="user.username" placeholder="Username" />
        <br />
        <input type="password" v-model="user.password" placeholder="Password" />
        <br />
        <button type="submit">Ingresa</button>
      </form>

    </div>
  
  </div>
</template>




<script>
import axios from "axios";

export default {
  name: "Login",

  data: function () {
    return {
      user: {
        username: "",
        password: "",
      },
    };
  },

  methods: {
    processLogInUser: function () {
      //alert ("entro a procesar el login");
      axios
        .post(
          "http://localhost:8000/Haz_parte_del_arrecife/login/",
          //"https://misioncoral-octubre16.herokuapp.com/Haz_parte_del_arrecife/login/",
          this.user,
          { headers: {} }
        )
        .then((answer) => {
          //alert ("recibio una respuesta del bk");
          let dataLogIn = {
            username: this.user.username,
            token_access: answer.data.access,
            token_refresh: answer.data.refresh,
          };

          this.$emit("UserLoginSuccesful", dataLogIn);
        })
        .catch((error) => {
          if (error.response.status == "401")
            alert("ERROR 401: Credenciales Incorrectas.");
        });
    },
  },
};
</script>





<style>
.profile-icon {
  z-index: 999;
  width: 60px;
  height: 60px;
  background: rgb(217, 217, 217);
  background-image: url(../../images/Icons/seaHorse.png);
  background-repeat: no-repeat;
  background-size: 156%;
  background-position: center;
  border-radius: 100%;
  cursor: pointer;
}

.logIn_user {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 80vw;
  

  display: flex;
  justify-content: center;
  align-items: center;
}

.container_logIn_user {
  position: relative;
  left: 90pt;
  width: 40vw;
  height: 70vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logIn_user form {
  width: 40vw;
}

.logIn_user input {
  width: 40vw;
  height: 10vh;

  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5pt 0;

  border-radius: 100px;
  border: 1px solid rgb(217, 217, 217);
}

.logIn_user button {
  position: absolute;
  
  right: 100pt;
  width: 15vw;
  height: 10vh;
 

  color: #e5e7e9;
  background: rgb(28, 11, 127);
  border: 1px solid #e5e7e9;

  border-radius: 5px;
  padding: 9px 15px;
}

.logIn_user button:hover {
  color: #e5e7e9;
  background: crimson;
  border: 1px solid rgb(28, 11, 127);
}

.leafcoral {
  position: absolute;
  margin-left: -15pt;
  margin-top: 20pt;
  height: 200pt;
}
</style>