<template>
    
    <div class="signUp_user">
    <img class="whale" src="../../images/Icons/Whale.png" alt=""/>
    <img class="leafcoral" src="../../images/Icons/leafcoral.png" alt=""/>

        
        <div class="container_signUp_user">
            

            <form v-on:submit.prevent="processSignUp" >
                <input type="text" v-model="user.username" placeholder="Username">
                <br>
                
                <input type="password" v-model="user.password" placeholder="Password">
                <br>
                
                <input type="text" v-model="user.name" placeholder="Name">
                <br>

                <input type="email" v-model="user.email" placeholder="Email">
                <br>


                <button type="submit">Registrarse</button>
            </form>
        </div>

    </div>

</template>




<script>
import axios from 'axios';

export default {
    name: "SignUp",

    data: function(){
        return {
            user: {
                username: "",
                password: "",
                name: "",
                email: ""
            }
        }
    },

    methods: {
        processSignUp: function(){
            axios.post(
                "http://localhost:8000/Haz_parte_del_arrecife/signup/",
                //"https://misioncoral-octubre16.herokuapp.com/Haz_parte_del_arrecife/signup/",
                this.user,  
                {headers: {}}
            )
                .then((answer) => {
                    let dataSignUp = {
                        username: this.user.username,
                        token_access: answer.data.access,
                        token_refresh: answer.data.refresh,
                    }
                    
                    this.$emit('completedSignUp', dataSignUp)
                })
                .catch((error) => {
                    console.log(error)
                    alert("ERROR: Fallo en el registro."+error);  
                });
        }
    }
}
</script>



<style>
.whale{
  position: absolute;
  top: 80pt;
  left: 116pt;
  width: 100pt;
  height: 60pt;

}

.leafcoral
{
  position: absolute;
  top: 155pt;
  left: 110pt;
  width: 110pt;
  height: 60pt;

}

.signUp_user{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_signUp_user {
    position: relative;
    bottom: 20pt;
    left: 110pt;

    width: 50vw;
    height: 60vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.signUp_user form{
    width: 70vw;
        
}

.signUp_user input{
    width: 40vw;
    height: 10vh;

    box-sizing: border-box;
    padding: 10pt 20pt;
    margin: 5pt 0;

    border: 1px solid rgb(217,217,217);
    border-radius: 30px;
}

.signUp_user button{
    position:absolute;
    width: 20vw;
    height: 10vh;
    left: 5pt;

    color: #E5E7E9;
    background: rgb(28, 11,127);
    border: 1px solid #E5E7E9;

    border-radius: 5px;
    align-content: center;
}

.signUp_user button:hover{
    color: #E5E7E9;
    background: crimson;
    border: 1px solid rgb(28, 11,127);
}

</style>