<!--SearchBar-->
<template>
  <div class="Buscar">
    <input type="text" placeholder="Buscar" required />
    <div class="btn">
      <img class="lupa" src="../../images/Icons/lupa.png" alt="" />
    </div>
  </div>
</template>

<script>
export default {
  name: "SearchBar",
};
</script>

<style>
.Buscar {
  position: absolute;
  padding: 5px;
}
.Buscar input {
  width: 240px;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #000;
  outline: none;
  border: 1px solid silver;
  border-radius: 30px;
  transition: all 0.6s ease;
}

.buscar:hover input {
  width: 240px;
}

.buscar input:focus {
  width: 240px;
}

.btn {
  position: absolute;
  top: 0;
  right: 0;

  line-height: 5px;
  text-align: center;
  font-size: 0px;
  border-radius: 50%;
  cursor: pointer;
}

.lupa {
  margin-top: 5pt;
  width: 50px;
  height: 36px;
  
}
</style>